<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<h1> {{ msg }} {{ name }} </h1>
<h2>
    {% if lang == 'fr' %}
        bonjour {{  name}}
    {% else %}
        Hello {{  name}}
    {% endif %}
</h2>


</body>
</html>
