{# app/Resources/views/category/index.html.twig #}
{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-md-12">

            {{ form_start(edit_form, {'attr': {'class': 'form'}}) }} {# <form class="form"> #}
                {{ form_row(edit_form.name) }}
                {{ form_row(edit_form.email) }}
                {{ form_row(edit_form.submit) }}
            {{ form_end(edit_form) }} {# </form> #}
        </div>
    </div>
{% endblock %}